/* Start Variables */
:root {
    --primaryColor: #ce3232;
    --secondaryColor: #757575;
    --grayColor: #c9c9c9;
    --grayColor-1: #bfbdbd;
    --grayColor-2: #f9f9f9;
    --mainWhite: #fff;
    --mainBlack: #000;
    --mainBlack-alt: #353535;
    --mainTransition: all 0.3s;
    --mainShadow: 0 1rem 5rem rgba(0, 0, 0, 0.4);
}

/* End Variables */

/* Start Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}


@media (max-width: 576px) {
    html {
        font-size: 50%;
    }
}

body {
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: var(--mainBlack-alt);
    overflow-x: hidden;
    overflow-y: hidden;
}



.section {
    padding: 8rem 0;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 940px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 580px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

.btn {
    cursor: pointer;
    min-width: 12rem;
    height: 4rem;
    background: var(--primaryColor);
    color: var(--mainWhite);
    font-size: 1.6rem;
    padding: 1rem 2rem;
    transition: var(--mainTransition);
    border: none;
    outline: none;
    text-align: center;
}

.btn:hover {
    background: var(--mainWhite);
    color: var(--secondaryColor);

}


img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.header-section {
    text-align: center;
    margin-bottom: 4rem;
}

.heading {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: 4rem;
    margin-bottom: 1.2rem;
}

.sub-heading {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--grayColor-1);
    text-transform: uppercase;
}

/* End Global */

/* Start Loader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--mainBlack);
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--mainTransition);
}

.loader-outline {
    width: 5rem;
    height: 5rem;
    border: 1rem solid var(--primaryColor);
    border-left-color: transparent;
    border-top-color: transparent;
    border-radius: 50%;
    animation: loader 2s infinite forwards;
}

@keyframes loader {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
        border-left-color: var(--mainWhite);
        border-top-color: var(--mainWhite);
    }
}

/* End Loader */









/* Start Navigation */
.nav {
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: var(--mainTransition);
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    position: relative;
}

.scroll {
    height: 10rem;
    background: var(--mainWhite);
    box-shadow: var(--mainShadow);
}

.nav-wrapper a {
    color: var(--mainWhite);
}

.scroll .nav-wrapper a {
    color: var(--mainBlack);
}

.logo {
    font-size: 2rem;
    font-weight: 600;
}

.logo span {
    color: var(--primaryColor);
}

.toggle-menu {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.menu-open {
    transition: var(--mainTransition);
}

.menu-close {
    opacity: 0;
    display: none;
    transition: var(--mainTransition);
}

.nav-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 80%;
}

.nav-menu {
    display: flex;
    flex: 0 0 40%;
    justify-content: space-evenly;
}

.nav-item {
    padding: 1rem 1.5rem;
}

.nav-item:not(:last-child) {
    margin-right: 2rem;
}

.nav-link {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

.call-now-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.call-now {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 2rem;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .nav {
        height: auto;
        padding: 2rem 0;
    }

    .logo-wrapper {
        margin-bottom: 1rem;
    }

    .nav-menu-wrapper {
        flex-wrap: wrap;
    }

    .nav-wrapper {
        flex-wrap: wrap;
        align-items: flex-end;
    }

    .call-now-wrapper {
        margin-top: 2rem;
        flex: 0 0 100%;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .nav {
        height: auto;
        padding: 2rem 0;
    }

    .nav-menu-wrapper {
        flex-wrap: wrap;
    }

    .nav-wrapper {
        flex-wrap: wrap;
        align-items: flex-end;
    }

    .call-now-wrapper {
        margin-top: 2rem;
        flex: 0 0 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .toggle-menu {
        display: block;
    }

    .open .toggle-menu .menu-open {
        opacity: 0;
        display: none;
    }

    .open .toggle-menu .menu-close {
        opacity: 1;
        display: block;
    }

    .nav-menu-wrapper {
        display: none;
    }

    .open .nav-menu-wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10rem;
        left: 0;
        width: 100%;
        background: var(--mainWhite);
        text-align: center;
        padding: 2rem 0;
        border-top: 1px solid #000;
        transition: var(--mainTransition);
    }

    .nav-menu {
        flex-direction: column;
        width: 100%;
    }

    .nav-item {
        margin-right: 0 !important;
        margin-bottom: 2rem;
        border-bottom: 1px solid var(--grayColor-2);
    }

    .call-now-wrapper {
        flex-direction: column;
    }

    .call-now {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .toggle-menu {
        display: block;
    }

    .nav-menu-wrapper {
        display: none;
    }

    .open .nav-menu-wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10rem;
        left: 0;
        width: 100%;
        background: var(--mainWhite);
        text-align: center;
        padding: 2rem 0;
        border-top: 1px solid #000;
        transition: var(--mainTransition);
    }

    .nav-menu {
        flex-direction: column;

    }

    .nav-item {
        margin-right: 0 !important;
        margin-bottom: 2rem;
    }

    .call-now-wrapper {
        flex-direction: column;
    }

    .call-now {
        margin-bottom: 2rem;
    }
}

/* End Navigation */

/* Start Header */
.header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header-slider {
    position: relative;
    width: 100%;
}

.header-slider-img {
    width: 100%;
    height: 100vh;
}

.header-text {
    position: absolute;
    top: 30%;
    left: 10%;
    color: var(--mainWhite);
    padding: 3rem 0;
    width: 50%;
}

.header-subtitle {
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    line-height: 2rem;
    text-transform: uppercase;
}

.header-title {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 0.4rem;
    margin: 2rem 0 4rem;
}


.header .owl-dots {
    position: absolute;
    top: 40%;
    right: 5rem;
    transform: rotate(90deg);
}

.header .owl-dot {
    outline: none;
}

.header .owl-theme .owl-dots .owl-dot.active span,
.header .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--mainWhite);
}

@media (min-width: 992px) and (max-width: 1199px) {

    .header,
    .header-slider {
        height: auto;
    }

    .header-text {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .header,
    .header-slider {
        height: auto;
    }

    .header-text {
        width: 80%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .header-text {
        width: 80%;
    }

    .header-title {
        font-size: 3rem;
        line-height: 4rem;
    }
}


@media screen and (max-width: 576px) {

    .header-text {
        width: 80%;
    }

    .header-title {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

/* End Header */

/* Start About */
.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text {
    padding: 5rem 6rem 0 0;
    flex: 0 0 50%;
}

.about .subtitle {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--grayColor-1);
    text-transform: uppercase;
}

.about .title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 0.1rem;
    margin: 2rem 0 4rem 0;
    color: var(--mainBlack);
}


.about-desc {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: var(--secondaryColor);
}

@media (min-width: 992px) and (max-width: 1199px) {
    .about-content {
        flex-wrap: wrap;
    }

    .about-text {
        flex: 0 0 80%;
        margin-left: auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .about-content {
        flex-wrap: wrap;
    }

    .about-text {
        flex: 0 0 80%;
        margin-left: auto;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .about-content {
        flex-wrap: wrap;
    }

    .about-text {
        flex: 0 0 100%;
        margin-left: auto;
    }
}

@media screen and (max-width: 576px) {
    .about-content {
        flex-wrap: wrap;
    }

    .about-text {
        flex: 0 0 100%;
        margin-left: auto;
    }
}

/* End About */

/* Start Our Team */
.our-team {
    background: var(--grayColor-2);
}

.team-cards-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-card {
    flex: 0 0 calc(100% / 3 - 2rem);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
}

.team-card-img-wrapper {
    position: relative;
}


.team-card-social {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

}


.team-icon-wrapper {
    width: 4em;
    height: 4rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: transform 0.3s;
}

.team-icon-wrapper:hover {
    transform: translateY(-0.3rem);
}

.card-icon {
    font-size: 3rem;
    color: var(--mainWhite);
}


.team-card-info {
    padding: 2rem 1.5rem;
    text-align: center;
}

.name {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.title {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--grayColor-1);
    text-transform: uppercase;
}

@media (min-width: 576px) and (max-width: 767px) {
    .team-cards-wrapper {
        flex-wrap: wrap;
    }

    .team-card {
        flex: 0 0 calc(50% - 2rem);
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .team-cards-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .team-card {
        flex: 0 0 70%;
        margin-bottom: 2rem;
    }
}


/* End Our Team */


/* Start Menu */
.our-menu {
    padding-bottom: 0;
}

.menu-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.menu-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}


.menu-info {
    position: absolute;
    left: 0;
    bottom: -10rem;
    width: 100%;
    height: 10rem;
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--mainTransition);
    overflow: hidden;
}

.menu-item:hover .menu-info {
    bottom: 0;
}

.menu-img {
    transition: var(--mainTransition);
}

.menu-item:hover .menu-img {
    transform: scale(1.1);
}


.menu-text {
    color: var(--mainWhite);
}

.menu-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 600;
}

.menu-price {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--mainWhite);
}

@media (min-width: 576px) and (max-width: 991px) {
    .menu-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .menu-gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* End Menu */

/* Start Testimonials */
.testimonials {
    background: url(../images/testimonial-bg.jpg) no-repeat center;
    background-size: cover;
}

.testimonials .heading {
    color: var(--mainWhite);
}

.testimonials-content {
    padding: 5rem 3rem;
    color: var(--mainWhite);
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.testimonial-item>p {
    font-size: 2rem;
    color: var(--grayColor);
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.testimonial-author p {
    font-size: 2rem;
    font-weight: 600;
    color: var(--grayColor);
}

.testimonial-author span {
    font-size: 1.6rem;
    font-weight: 300;
}

@media (min-width: 576px) and (max-width: 991px) {
    .testimonials-content {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .testimonials-content {
        width: 100%;
    }

    .testimonial-item>p {
        font-size: 1.8rem;
    }

    .author p {
        font-size: 1.8rem;
    }
}

/* End Testimonials */

/* Start Contact */
.contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-map {
    flex: 0 0 50%;
}

.contact-map iframe {
    width: 100%;
    height: 45rem;
    padding: 2rem;
}

.contact-form {
    flex: 0 0 50%;
    align-self: flex-start;
    padding: 2rem;
}

.contact-form .header-section {
    text-align: left;
    margin-bottom: 2rem;
}

.input-group-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-group {
    position: relative;
}

.input-field {
    width: 100%;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    border: none;
    border-bottom: 1px solid var(--grayColor);
    font-size: 1.6rem;
    color: var(--mainBlack);
    outline: none;
    height: 4rem;
}

.input-field:focus~.input-label {
    top: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primaryColor);
}


.input-label {
    position: absolute;
    left: 1rem;
    top: 50%;
    margin-top: -2rem;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--grayColor-1);
    transition: var(--mainTransition);
}

.input-group-wrapper .input-group {
    flex: 0 0 calc(50% - 1rem);
}

.message-field {
    resize: none;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--mainBlack);
    height: 20rem;
}

.form-btn {
    width: 100%;
    height: 5rem;
    cursor: pointer;
    background: var(--primaryColor);
    color: var(--mainWhite);
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
    border: none;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
    transition: var(--mainTransition);
}

.form-btn:hover {
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
}

@media (min-width: 576px) and (max-width: 991px) {
    .contact-content {
        flex-wrap: wrap;
    }

    .contact-map,
    .contact-form {
        flex: 0 0 100%;
    }
}

@media (max-width: 576px) {
    .contact-content {
        flex-wrap: wrap;
    }

    .contact-map,
    .contact-form {
        flex: 0 0 100%;
    }
}

/* End Contact */


/* Start Footer */
.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-item {
    padding: 4rem 1rem;
    flex: 0 0 calc(25% - 2rem);
}

.footer-item .title {
    font-size: 2rem;
    color: var(--mainBlack-alt);
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.footer-item .desc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    color: var(--grayColor-alt);
}

.footer-item:nth-child(3) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
        url(../images/footer-open-hour-bg.jpg) no-repeat center;
    background-size: cover;
    color: var(--mainWhite);
    border-radius: 3rem;
    overflow: hidden;
}

.footer-item:nth-child(3) .title {
    color: var(--mainWhite);
}

.footer-item:nth-child(3) .desc span {
    display: block;
    margin-bottom: 1.2rem;
}

.open-days {
    font-weight: 700;
}

.footer-item:last-child {
    text-align: center;
}

.footer-social {
    padding: 2rem;
    text-align: center;
}

.icon-wrapper {
    display: inline-block;
    margin-right: 2rem;
}

.icon-wrapper:last-child {
    margin-right: 0;
}

.footer-icon {
    font-size: 2rem;
    color: var(--primaryColor);
}


@media (min-width: 576px) and (max-width: 991px) {
    .footer-content {
        flex-wrap: wrap;
    }

    .footer-item {
        flex: 0 0 calc(50% - 2rem) !important;
        margin-bottom: 2rem;
    }
}


@media (max-width: 576px) {
    .footer-content {
        flex-wrap: wrap;
    }

    .footer-item {
        flex: 0 0 100%;
        margin-bottom: 2rem;
    }
}

/* End Footer */